
.DS_Store
results/OPTICLASS_trafic_06_09_PF.txt
results/OPTICLASS_trafic_05_24_PF.txt
results/OPTICLASS_trafic_05_24_PF_3_2.txt
results/OPTICLASS_trafic_06_08_PF.txt
results/OPTICLASS_trafic_06_09_2_PF.txt
results/OPTICLASS_trafic_06_16_PF.txt
results/OPTICLASS_trafic_06_17_PF.txt
results/OPTICLASS_trafic_06_24_PF.txt
results/OPTICLASS_trafic_06_27_PF.txt
results/OPTICLASS_trafic_06_27_reduit_PF.txt
results/OPTICLASS_trafic_06_28_PF.txt
results/OPTICLASS_trafic_06_29_PF.txt
results/OPTICLASS_trafic_07_15_PF.txt
results/OPTICLASS_trafic_07_15_PF_3_2.txt
results/OPTICLASS_trafic_07_15_PF_3_3.txt
results/OPTICLASS_trafic_07_15_PF_3_4.txt
results/OPTICLASS_trafic_07_18_PF.txt
results/OPTICLASS_trafic_07_19_PF.txt
results/OPTICLASS_trafic_08_02_PF.txt
results/OPTICLASS_trafic_08_10_PF.txt
results/OPTICLASS_trafic_10_14_PF.txt
results/OPTICLASS_trafic_10_27_PF_Lille.txt
